@import "./poppins-font.css";
@import "./remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    width: 100%;
  }

  body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: rgb(27, 27, 27);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("/images/background.webp");
  }

  a,
  button {
    @apply focus:outline-none focus-visible:ring focus-visible:ring-yellow-500;
  }
}
