.inline-code {
  background: linear-gradient(to right,#b4eae8,#c4def9);
  border-radius: .2rem;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  padding: .1rem .4rem;
  text-align: center;
}
