@tailwind base;
@tailwind components;
@tailwind utilities;

.inline-code {
  background: #c2c9d8;
  border-radius: .2rem;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  padding: .1rem .4rem;
  text-align: center;
}